.footer {
	padding: 2rem;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/bg2.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
}

.footer h1 {
	font-size: 5rem;
	color: white;
	text-shadow: 0 0.3rem 0.5rem #000;
}
.footer p {
	font-size: 2rem;
	color: #eee;
	padding: 1rem 15rem;
}

.footer form input {
	outline: none;
	border: none;
	height: 3rem;
}
.footer form input[type='email'] {
	width: 40rem;
	padding: 0 1rem;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.2);
	font-size: 1.2rem;
}
.footer form input[type='email']::placeholder {
	color: #fff;
}

.footer form input[type='submit'] {
	width: 10rem;
	color: #fff;
	background-color: #0098a1;
	font-size: 1.2rem;
	cursor: pointer;
	transition: 0.2s;
}

.footer form input[type='submit']:hover {
	border: 0.1rem solid #fff;
	color: #fff;
	background: none;
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem;
	background: #222;
	overflow: hidden;
}
.footer-content .credits {
	font-size: 1.5rem;
	color: #eee;
}
.footer-content .credits span {
	color: #0098a1;
}

.footer-content .social {
	display: flex;
}
.footer-content .social a {
	font-size: 1.2rem;
	margin: 0 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;

	height: 2rem;
	width: 2rem;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	border: 0.2rem solid #fff;
	transition: all 0.3s linear;
}
.footer-content .social a:hover {
	background: #0098a1;
	border: none;
}

@media (max-width: 778px) {
	.footer form input[type='email'] {
		width: 100%;
		margin-bottom: 1rem;
	}
	.footer p {
		padding: 1rem 0;
	}
	.footer-content {
		flex-flow: column;
	}
	.footer-content .credits {
		text-align: center;
		margin-bottom: 2rem;
	}
}
